/* 
    Document   : forms.css
    Created on : 29 janv. 2012, 10:51:06
    Author     : CAILBAUT Olivier
    Description: Description des styles des articles
*/


.blog .footer {}
.blog .boite_image_header {overflow:hidden;border: 5px solid #FFFFFF;border-radius: 4px 4px 4px 4px;box-shadow: 0 1px 4px #979797;width:450px;height:150px;text-align: center;vertical-align: middle;margin-left: auto;margin-right:auto}
.blog .header_image {height: 100%}
