/*
    Document   : forms.css
    Created on : 29 janv. 2012, 10:51:06
    Author     : CAILBAUT Olivier
    Description: Description des styles pour le menu utilisateur
*/

.user_menu{
    position:relative;
    float: right;
    /*padding-right: 100px;*/
    /*padding-top: 16px;*/
    font-family: "Helvetica Neue",Arial;
    font-size:12px;
}
.user_menu .signin, .header .user .myaccount, .header .user .signout {
    color: white;
    /*float: right;*/
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    margin-top: 16px;
    text-shadow: 0 1px 2px #041F36;
    padding-top: 3px;
    padding-bottom: 3px;
}

.user_menu .signin, .header .user .signout {
    text-decoration: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAA90lEQVQoz2NgwA6Y3r17Z3vv3j15IJuRgQjA+/v37xd//vx5dfjwYWNiNIktXLiw9e/fv79//fr1BkPTzJkzuV6/fh395s2bvBcvXhTcvHmzYuPGjZOvAcF/IABp2rZtmxZME8udO3dy/hMAFy9ebAGqZQdp4LCxsTGeNWvWhLlz5y6DYaCtq86cOQO24evXr1+ys7PDgGq5wTYAsSQQmwGxCxC7ArF7e3t7B9Djv4CKv8fGxjYDxbRhNjBCNYF08wOxABDL/vz588P379+/AhWDnGIOlcMZWuLd3d2VAQEBxcQoBgE+IFYHYjUg5iImHpigzsRQCAAuiZX5GTlOjwAAAABJRU5ErkJggg==");
    background-position: left 6px;
    background-repeat: no-repeat;
    /*padding-right: 100px;*/
    padding-left: 15px;
    /*font-family: "Helvetica Neue",Arial;*/
    position: relative;
    z-index: 1;
    /*alignment-baseline: right;*/
}
.user_menu .myaccount {
    background-color: white;
    background-image: url("img/user_menu/fleche-bas_dropdownmenu.png");
    background-position: right 5px;
    background-repeat: no-repeat;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    color: #363B4E;
    font-weight: bold;
    margin-right: 11px;
    padding-left: 11px;
    padding-right: 30px;
    padding-top:3px;
    padding-bottom: 3px;
    text-shadow: none;
}

.user_menu .dropdown{
    background: none repeat scroll 0 0 white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    /*right: 121px;*/
    top: 18px;
    z-index: 999;
}
.user_menu .dropdown .title {
    border-bottom: 2px solid #363B4E;
    color: #363B4E;
    font-size: 11px;
    font-weight: bold;
    margin: 0 10px 10px;
    padding-bottom: 1px;
    text-transform: uppercase;
}
.user_menu .dropdown .options {
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWCAYAAAArdgcFAAACQUlEQVQ4y63VXWjOYRjH8WfP1vK6RqxNWdEoLTkwG80OhhxQy0vjUA7m5UBLUpQTJXYkUSQhCiWJJDxeSo01UkIJtfKaIc3bMK/fq353Xd399/hvOfjUc7/8r/u+7v/1v59MbX1TJoXVuI3HaEdDmufSBB6Kb/jj3Bhs8KXIYQ2ymKOA6zERx9CH4RiB7TiPaf8Kvgq/3Q7v4Jp+j9OcZWrbIq/c3I+o6y/4ZPxU8HVYi/d68J6bV4Ze9T/CAhxR+6WyTQz+C1dd3xgsQmGU4Ug0o1jtIejJF9wc0M5npqyiYIN2viLfmVcoeGfUb+d8WcdwGjVubDQ+4QkKkoJb6kfxXDs47CZt0rs4iI24iO+Yq/GsFrVNPcAezAjBaxTQXtIlbMZ4l0mfXq7PxCrloWtbjDZ0aBGrnOKMXowFP55wlkvwNeGFNuiZ8oRnnmmswhqL1TiHomjiQu28JOqfpx2WRv32Yb1WvDLrmODq1tK5gNlu8jtVUVh4FG7higu6Eje1kVD/2TBoZ9yCkxrMRbvv1aV1Bt14iiqND8NbfMFeLA+ZxudVrXRPRf2W3VbsR2t0HHaxdeGFFkqs8wLdI59ROcCPqEkZb+sveJ0mdLjqaMROTImCNaqew9GMxQcdX1FScLuQ3mgBO/sT7sbrdl/fJNdv9/wO3FW7Pd/nX+tuwh/YjX1qV2tOi9qtusfDQveVQd4/C7sdt2Cq2tP18CHd99dVsiH9+boiSgfzN1fojis4+7/+Q80s7FIptqWtpr+Sphi8NJNbrAAAAABJRU5ErkJggg==");*/
    background-position: 11px center;
    background-repeat: no-repeat;
}
.user_menu .dropdown div {
    cursor: pointer;
    float: none;
    height: 100%;
    line-height: 29px;
    margin: 0;
    position: relative;
    width: auto;
}

.user_menu .dropdown div a {
    color: #7D7F9B;
    display: block;
    font-size: 13px;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0 10px 0 45px;
    text-decoration: none;
}