                        {# Menu du site #}

                            <div id="menu">
                                <div class="box_menu">
                                    <h5>Menu</h5>
                                    <div class="corpsmenu corpsmenuprin" style="padding-bottom:0;">
                                        <div class="liste_cours_menu" style="margin-left: 43px; _padding:20px 0 0 0;">
                                            <ul class="niveau1">
                                                <li style="background-color: transparent;">
                                                    <a href="{{ path('homepage') }}">Accueil</a>
                                                </li>
                                            </ul>
                                            <ul class="niveau1">
                                                <li class="plus" style="background-color: transparent;">
                                                    <strong>Développement</strong>
                                                    <ul class="niveau2">
                                                        <li class="plus">
                                                            <strong>VB .Net</strong>
                                                            <ul class="niveau3">
                                                                <li class="plus">
                                                                    <strong>Digger Helper</strong>
                                                                    <ul class="niveau4">
                                                                        <li>
                                                                            <a href="http://djepo.craym.eu/index.php?page=Développement/VB .Net/Digger Helper/2-Fonctionnement.php">2-Fonctionnement</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="http://djepo.craym.eu/index.php?page=Développement/VB .Net/Digger Helper/1-Descriptif.html">1-Descriptif</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="plus">
                                                            <strong>Php</strong>
                                                            <ul class="niveau3">
                                                                <li>
                                                                    <a href="http://djepo.craym.eu/index.php?page=Développement/Php/Mes débuts en PHP.html">Mes débuts en PHP</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="plus">
                                                            <strong>Javascript</strong>
                                                            <ul class="niveau3">
                                                                <li>
                                                                    <a href="http://djepo.craym.eu/index.php?page=Développement/Javascript/Calculer son âge.php">Calculer son âge</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <strong>Microsoft Office - VBA</strong>
                                                            <ul class="niveau3"></ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <!--
                                            <ul class="niveau1">
                                            <li style="background-color: transparent;">
                                                <a href="http://djepo.craym.eu/index.php?page=solver.php">solver</a>
                                            </li>
                                            </ul>
                                            -->
                                            <ul class="niveau1">
                                                <li style="background-color: transparent;">
                                                    <a href="{{path('cv')}}">CV</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>