                        {# Menu du site #}

<div class="boite">
<div style="display:block;text-align: center; margin:auto; width:250px;box-shadow: 1px 1px 40px #555;background-color: #393939">

        <script type="text/javascript">
            <!--
                google_ad_client = "ca-pub-6666669614603961";
                /* Publicité Site Perso 2 */
                google_ad_slot = "3306812711";
                google_ad_width = 250;
                google_ad_height = 250;
            //-->
            </script>
            
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
            
</div>
</div>