{% block contenuCV %}
    <section>
            <article>
                    <div class="sectionTitle">
                            <h1>Profil Personnel</h1>
                    </div>

                    <div class="sectionContent">
                            <p>La technologie m'a toujours intéressé. Les diverses missions intérim faites dans ma jeunesse m'ont progressivement fait glisser vers la conduite de machines.</br>
                                En 2004, après une formation à l'AFPI, Je suis rentré chez Nestlé en tant que conducteur de ligne.</br>
                                Depuis, j'ai conduit des Erca, des Nova, des Hamba, ainsi que divers machines de surremballage, encaissage et palettisation.</br>
                                J'ai de plus participé activement à plusieurs projets de mises en place de lignes complètes de conditionnement et au réglage de celle-ci.</br>
                                J'ai de fortes compétences en informatique et depuis quelques années, on assiste à une informatisation des machines et des usines, ce qui est un véritable plus pour ce qui est de la maitrise de ces nouvelles interfaces.
                            </p>
                    </div>
            </article>
            <div class="clear"></div>
    </section>


    <section>
            <div class="sectionTitle">
                    <h1>Expérience Professionnelle</h1>
            </div>

            <div class="sectionContent">
                    <article>
                            <h2>Conducteur de Lignes Lactalis-Nestlé</h2>
                            <p class="subDetails">Septembre 2004 - Aujourd'hui</p>
                            <p>Conduite de conditionneuse/doseuses en industrie agro-alimentaire. Participation à des projets de mises en place de lignes, réglage de celles-ci. Gestion du personnel de la ligne, maintenance de niveau 1.</p>
                    </article>

                    <article>
                            <h2>Divers missions Intérim</h2>
                            <p class="subDetails">Septembre 2001 - Mars 2004</p>
                            <p>Manutention Diverses, Cariste, Tenue de Stock, Conduite de ligne Process</p>
                    </article>

                    <article>
                            <h2>Service Militaire</h2>
                            <p class="subDetails">Décembre 2000 - Août 2001</p>
                            <p>Service Militaire, Moniteur Poids lourds.</p>
                    </article>

                    <article>
                            <h2>Employé de Commerce, Cuisinier - Vidéo@Food - Clisson</h2>
                            <p class="subDetails">Août 1998 - Juillet 2000</p>
                            <p>Cuisinier, Serveur, Vendeur, Employé de commerce</p>
                    </article>								
            </div>
            <div class="clear"></div>
    </section>


    <section>
            <div class="sectionTitle">
                    <h1>Compétence clés</h1>
            </div>

            <div class="sectionContent">
                    <ul class="keySkills">
                            <li>Conduite Erca</li>
                            <li>Conduite Nova</li>
                            <li>Conduite Hamba</li>
                            <li>Conduite Aries</li>
                            <li>Conduite Goossens</li>
                            <li>Conduite Encaisseuse</li>  
                            <li>Conduite Palletiseur</li>
                            <li>Ultra-Filtration</li>
                            <li>Maintenance de Premier Niveau</li>
                            <li>Contrôles Qualité</li>
                            <li>Cariste</li>
                            <li>Gestion de Stock</li>
                            <li>Magasinier</li>
                    </ul>
            </div>
            <div class="clear"></div>
    </section>


    <section>
            <div class="sectionTitle">
                    <h1>Formations</h1>
            </div>

            <div class="sectionContent">
                    <article>
                            <h2>AFPI - Nantes</h2>
                            <p class="subDetails">Mars 2004 - Septembre 2004</p>
                            <p class="subDetails">Contrat de Qualification Conducteur de Lignes</p>                            
                    </article>
                    <article>
                            <h2>La Colinière - Nantes</h2>
                            <p class="subDetails">2000</p>
                            <p class="subDetails">BTS Informatique de Gestion</p>                            
                    </article>
                    <article>
                            <h2>La Colinière - Nantes</h2>
                            <p class="subDetails">1998</p>
                            <p class="subDetails">Bac STT Informatique de Gestion</p>
                            <p>Bac Obtenu avec mention.</p>
                    </article>
            </div>
            <div class="clear"></div>
    </section>
{% endblock %}