{% block contenuCV %}
    <section>
            <article>
                    <div class="sectionTitle">
                            <h1>Profil Personnel</h1>
                    </div>

                    <div class="sectionContent">
                            <p>Je suis un Informaticien au sens large du terme. Tombé dans l'informatique depuis l'âge de 14 ans, je me suis rapidement intéressé au développement. L'automatisation de tâches répétitives et des interfaces claires et épurées sont ma priorité.</br>
                               Je passe beaucoup de temps à faire de la veille technologique et à développer des projets personnels (sites internet, applications en dotNet), ainsi qu'à m'autoformer sur des technologies récentes.</br>
                               La curiosité est ma principale qualité dans ce domaine.</br>
                               Au cours des années, mon expérience m'a permis de couvrir les domaines suivants: Calcul d'indicateurs, Dialogue avec des automates industriels, export comptable, consolidation de données, dialogue avec matériel externe, problématique des IHM claires et des interractions utilisateurs.
                            </p>
                    </div>
            </article>
            <div class="clear"></div>
    </section>


    <section>
            <div class="sectionTitle">
                    <h1>Expérience Professionnelle</h1>
            </div>

            <div class="sectionContent">
                    <article>
                            <h2>Analyste Programmeur chez Lactalis-Nestlé</h2>
                            <p class="subDetails">Février 2009 - Septembre 2011</p>
                            <p>Développement informatique en VBA Access / Excel, intégration matériel, dépannage matériel, configuration réseau, développement d’applications de reporting, automatisation de calculs, statistiques sur les pesées en liaison ODBC avec une base Oracle, Reporting et statistiques d’après une base SQL Server, Liaison d’application vb.net avec un automate industriel à des fins de sauvegardes et statistiques sur la marche des installations industrielles.</p>
                    </article>

                    <article>
                            <h2>Analyste Programmeur chez Apolink</h2>
                            <p class="subDetails">2000</p>
                            <p>Développement d’un composant Delphi de lecture-écriture pour le système à carte Sésame-vitale</p>
                    </article>

                    <article>
                            <h2>Analyste Programmeur chez MediaLogs</h2>
                            <p class="subDetails">1999</p>
                            <p>Développement d’un module de comptabilité pour le logiciel <a href="http://www.fiducial.fr/Mon-Entreprise/Logiciels-Solutions-informatiques/Solutions-metiers/Coiffure/Je-gere-mon-salon" target="_blank">Média Coif</a> (logiciel de gestion pour salons de coiffure) sous Windev </p>
                    </article>

                    <article>
                            <h2>Assembleur Informatique chez BCS-Clisson</h2>
                            <p class="subDetails">1998</p>
                            <p>Montage PC, conseil clients, installation de logiciels, dépannage et maintenance informatique.</p>
                    </article>								
            </div>
            <div class="clear"></div>
    </section>


    <section>
            <div class="sectionTitle">
                    <h1>Compétence clés</h1>
            </div>

            <div class="sectionContent">
                    <ul class="keySkills">
                            <li>Php</li>
                            <li>Symfony 2</li>
                            <li>SQL</li>
                            <li>MySQL</li>
                            <li>HTML</li>
                            <li>CSS</li>  
                            <li>Photoshop</li>                                        
                            <li>VBA Access</li>
                            <li>VBA Excel</li>
                            <li>VB.Net</li>
                            <li>Merise</li>
                            <li>Windev</li>
                            <li>MS Project</li>
                    </ul>
            </div>
            <div class="clear"></div>
    </section>


    <section>
            <div class="sectionTitle">
                    <h1>Formations</h1>
            </div>

            <div class="sectionContent">
                    <article>
                            <h2>La Colinière - Nantes</h2>
                            <p class="subDetails">2000</p>
                            <p class="subDetails">BTS Informatique de Gestion</p>
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>#}
                    </article>

                    <article>
                            <h2>La Colinière - Nantes</h2>
                            <p class="subDetails">1998</p>
                            <p class="subDetails">Bac STT Informatique de Gestion</p>
                            <p>Bac Obtenu avec mention.</p>
                    </article>
            </div>
            <div class="clear"></div>
    </section>
{% endblock %}