{% extends 'comainBundle::layout.html.twig' %}   {# Héritage du layout principal (app/ressources/views/base.html.twig) #}
{% block body %}    {# Surcharge du bloc body de notre layout principal #}
 
<h1>Bienvenue !</h1>

{% endblock %}