/* 
    Document   : forms.css
    Created on : 29 janv. 2012, 10:51:06
    Author     : CAILBAUT Olivier
    Description: Description des styles des articles
*/


.blog .footer {background: url("../images/themes/base/content-sep.png") no-repeat scroll 0 30px transparent;padding-bottom: 20px;}
